@import "tailwindcss";

@theme {
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
}

@utility container {
  margin-inline: auto;
  padding-inline: 20px;

  @media (width >= --theme(--breakpoint-lg)) {
    padding-inline: 80px;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight cursor-pointer;
  }

  .btn-primary {
    @apply bg-black text-white;
  }

  .btn-text {
    @apply text-black bg-transparent;
  }

  .logo-ticker-image {
    @apply h-8 w-auto;
  }

  .tag {
    @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight;
  }

  .section-title {
    @apply text-center text-3xl md:text-[54px] md:leading-15 font-bold tracking-tighter bg-linear-to-b from-black to-[#001e80] text-transparent bg-clip-text;
  }

  .section-description {
    @apply text-center text-[22px] leading-7.5 tracking-tight text-[#010d3e];
  }

  .section-heading {
    @apply max-w-135 mx-auto;
  }

  .card {
    @apply p-10 border border-[#f1f1f1] rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full;
  }
}
